In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('50_Startups.csv', 
                 usecols=['R&D Spend', 'Administration', 'Marketing Spend','Profit'])

In [3]:
df = np.round(df/10000,2)

In [4]:
df.sample(5)

    R&D Spend  Administration  Marketing Spend  Profit
49       0.00           11.70             4.52    1.47
1       16.26           15.14            44.39   19.18
43       1.55           12.74             3.55    6.98
30       6.20           11.56             9.11    9.99
5       13.19            9.98            36.29   15.70

In [5]:
df = df.iloc[:,0:-1]
df.sample(5)

    R&D Spend  Administration  Marketing Spend
24       7.70            9.93            14.06
21       7.84           15.38            29.97
41       2.79            8.47            16.45
12       9.39           12.73            24.98
28       6.61           18.26            11.81

In [6]:
df.iloc[1,0] = np.NaN

In [7]:
df.iloc[3,1] = np.NaN

In [8]:
df.iloc[-1,-1]=np.NaN

In [9]:
df.head()

   R&D Spend  Administration  Marketing Spend
0      16.53           13.69            47.18
1        NaN           15.14            44.39
2      15.34           10.11            40.79
3      14.44             NaN            38.32
4      14.21            9.14            36.62

In [10]:
# Step 1 - Impute all missing values with mean of respective col

df0 = pd.DataFrame()

df0['R&D Spend'] = df['R&D Spend'].fillna(df['R&D Spend'].mean())
df0['Administration'] = df['Administration'].fillna(df['Administration'].mean())
df0['Marketing Spend'] = df['Marketing Spend'].fillna(df['Marketing Spend'].mean())

In [11]:
df0.head()

   R&D Spend  Administration  Marketing Spend
0  16.530000       13.690000            47.18
1   7.190408       15.140000            44.39
2  15.340000       10.110000            40.79
3  14.440000       12.139796            38.32
4  14.210000        9.140000            36.62

In [12]:
# Remove the col1 imputed value
df1 = df0.copy()

df1.iloc[1,0] = np.NaN
df1.head()

   R&D Spend  Administration  Marketing Spend
0      16.53       13.690000            47.18
1        NaN       15.140000            44.39
2      15.34       10.110000            40.79
3      14.44       12.139796            38.32
4      14.21        9.140000            36.62

In [13]:
# Use first 3 rows to build a model and use the last for prediction

X = df1.iloc[[0,2,3,4],1:3]
X

   Administration  Marketing Spend
0       13.690000            47.18
2       10.110000            40.79
3       12.139796            38.32
4        9.140000            36.62

In [14]:
y = df1.iloc[[0,2,3,4],0]
y

0    16.53
2    15.34
3    14.44
4    14.21
Name: R&D Spend, dtype: float64

In [15]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[1,1:].values.reshape(1,2))

C:\Users\vamsh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15.68726303])

In [17]:
df1.iloc[1,0] = 15.68

In [18]:
df1

    R&D Spend  Administration  Marketing Spend
0       16.53       13.690000        47.180000
1       15.68       15.140000        44.390000
2       15.34       10.110000        40.790000
3       14.44       12.139796        38.320000
4       14.21        9.140000        36.620000
5       13.19        9.980000        36.290000
6       13.46       14.720000        12.770000
7       13.03       14.550000        32.390000
8       12.05       14.870000        31.160000
9       12.33       10.870000        30.500000
10      10.19       11.060000        22.920000
11      10.07        9.180000        24.970000
12       9.39       12.730000        24.980000
13       9.20       13.550000        25.270000
14      11.99       15.650000        25.650000
15      11.45       12.260000        26.180000
16       7.80       12.160000        26.430000
17       9.47       14.510000        28.260000
18       9.17       11.420000        29.490000
19       8.64       15.350000         0.000000
20       7.63       11.390000        29.870000
21       7.84       15.380000        29.970000
22       7.40       12.280000        30.330000
23       6.75       10.580000        30.480000
24       7.70        9.930000        14.060000
25       6.47       13.960000        13.800000
26       7.53       14.410000        13.410000
27       7.21       12.790000        35.320000
28       6.61       18.260000        11.810000
29       6.56       15.300000        10.710000
30       6.20       11.560000         9.110000
31       6.11       15.270000         8.820000
32       6.34       12.920000         4.610000
33       5.55       10.310000        21.460000
34       4.64       15.770000        21.080000
35       4.60        8.500000        20.550000
36       2.87       12.710000        20.110000
37       4.41        5.130000        19.700000
38       2.02        6.590000        18.530000
39       3.86        8.300000        17.500000
40       2.88       11.850000        17.280000
41       2.79        8.470000        16.450000
42       2.36        9.620000        14.800000
43       1.55       12.740000         3.550000
44       2.22       15.480000         2.830000
45       0.10       12.420000         0.190000
46       0.13       11.580000        29.710000
47       0.00       13.540000         0.000000
48       0.05        5.170000         0.000000
49       0.00       11.700000        21.440816

In [20]:
# Remove the col2 imputed value

df1.iloc[3,1] = np.NaN

In [21]:
df1.head()

   R&D Spend  Administration  Marketing Spend
0      16.53           13.69            47.18
1      15.68           15.14            44.39
2      15.34           10.11            40.79
3      14.44             NaN            38.32
4      14.21            9.14            36.62

In [22]:
# Use last 3 rows to build a model and use the first for prediction
X = df1.iloc[[0,1,2,4],[0,2]]
X

   R&D Spend  Marketing Spend
0      16.53            47.18
1      15.68            44.39
2      15.34            40.79
4      14.21            36.62

In [23]:
y = df1.iloc[[0,1,2,4],1]
y

0    13.69
1    15.14
2    10.11
4     9.14
Name: Administration, dtype: float64

In [24]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[3,[0,2]].values.reshape(1,2))

C:\Users\vamsh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11.35997682])

In [25]:
df1.iloc[3,1] = 11.36

In [26]:
df1

    R&D Spend  Administration  Marketing Spend
0       16.53           13.69        47.180000
1       15.68           15.14        44.390000
2       15.34           10.11        40.790000
3       14.44           11.36        38.320000
4       14.21            9.14        36.620000
5       13.19            9.98        36.290000
6       13.46           14.72        12.770000
7       13.03           14.55        32.390000
8       12.05           14.87        31.160000
9       12.33           10.87        30.500000
10      10.19           11.06        22.920000
11      10.07            9.18        24.970000
12       9.39           12.73        24.980000
13       9.20           13.55        25.270000
14      11.99           15.65        25.650000
15      11.45           12.26        26.180000
16       7.80           12.16        26.430000
17       9.47           14.51        28.260000
18       9.17           11.42        29.490000
19       8.64           15.35         0.000000
20       7.63           11.39        29.870000
21       7.84           15.38        29.970000
22       7.40           12.28        30.330000
23       6.75           10.58        30.480000
24       7.70            9.93        14.060000
25       6.47           13.96        13.800000
26       7.53           14.41        13.410000
27       7.21           12.79        35.320000
28       6.61           18.26        11.810000
29       6.56           15.30        10.710000
30       6.20           11.56         9.110000
31       6.11           15.27         8.820000
32       6.34           12.92         4.610000
33       5.55           10.31        21.460000
34       4.64           15.77        21.080000
35       4.60            8.50        20.550000
36       2.87           12.71        20.110000
37       4.41            5.13        19.700000
38       2.02            6.59        18.530000
39       3.86            8.30        17.500000
40       2.88           11.85        17.280000
41       2.79            8.47        16.450000
42       2.36            9.62        14.800000
43       1.55           12.74         3.550000
44       2.22           15.48         2.830000
45       0.10           12.42         0.190000
46       0.13           11.58        29.710000
47       0.00           13.54         0.000000
48       0.05            5.17         0.000000
49       0.00           11.70        21.440816

In [27]:
# Remove the col3 imputed value
df1.iloc[4,-1] = np.NaN

df1

    R&D Spend  Administration  Marketing Spend
0       16.53           13.69        47.180000
1       15.68           15.14        44.390000
2       15.34           10.11        40.790000
3       14.44           11.36        38.320000
4       14.21            9.14              NaN
5       13.19            9.98        36.290000
6       13.46           14.72        12.770000
7       13.03           14.55        32.390000
8       12.05           14.87        31.160000
9       12.33           10.87        30.500000
10      10.19           11.06        22.920000
11      10.07            9.18        24.970000
12       9.39           12.73        24.980000
13       9.20           13.55        25.270000
14      11.99           15.65        25.650000
15      11.45           12.26        26.180000
16       7.80           12.16        26.430000
17       9.47           14.51        28.260000
18       9.17           11.42        29.490000
19       8.64           15.35         0.000000
20       7.63           11.39        29.870000
21       7.84           15.38        29.970000
22       7.40           12.28        30.330000
23       6.75           10.58        30.480000
24       7.70            9.93        14.060000
25       6.47           13.96        13.800000
26       7.53           14.41        13.410000
27       7.21           12.79        35.320000
28       6.61           18.26        11.810000
29       6.56           15.30        10.710000
30       6.20           11.56         9.110000
31       6.11           15.27         8.820000
32       6.34           12.92         4.610000
33       5.55           10.31        21.460000
34       4.64           15.77        21.080000
35       4.60            8.50        20.550000
36       2.87           12.71        20.110000
37       4.41            5.13        19.700000
38       2.02            6.59        18.530000
39       3.86            8.30        17.500000
40       2.88           11.85        17.280000
41       2.79            8.47        16.450000
42       2.36            9.62        14.800000
43       1.55           12.74         3.550000
44       2.22           15.48         2.830000
45       0.10           12.42         0.190000
46       0.13           11.58        29.710000
47       0.00           13.54         0.000000
48       0.05            5.17         0.000000
49       0.00           11.70        21.440816

In [28]:
# Use last 3 rows to build a model and use the first for prediction
X = df1.iloc[0:4,0:2]
X

   R&D Spend  Administration
0      16.53           13.69
1      15.68           15.14
2      15.34           10.11
3      14.44           11.36

In [29]:
y = df1.iloc[0:4,-1]
y

0    47.18
1    44.39
2    40.79
3    38.32
Name: Marketing Spend, dtype: float64

In [30]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[4,0:2].values.reshape(1,2))

C:\Users\vamsh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([36.29095748])

In [31]:
df1.iloc[4,-1] = 36.29

In [32]:
# After 1st Iteration
df1

    R&D Spend  Administration  Marketing Spend
0       16.53           13.69        47.180000
1       15.68           15.14        44.390000
2       15.34           10.11        40.790000
3       14.44           11.36        38.320000
4       14.21            9.14        36.290000
5       13.19            9.98        36.290000
6       13.46           14.72        12.770000
7       13.03           14.55        32.390000
8       12.05           14.87        31.160000
9       12.33           10.87        30.500000
10      10.19           11.06        22.920000
11      10.07            9.18        24.970000
12       9.39           12.73        24.980000
13       9.20           13.55        25.270000
14      11.99           15.65        25.650000
15      11.45           12.26        26.180000
16       7.80           12.16        26.430000
17       9.47           14.51        28.260000
18       9.17           11.42        29.490000
19       8.64           15.35         0.000000
20       7.63           11.39        29.870000
21       7.84           15.38        29.970000
22       7.40           12.28        30.330000
23       6.75           10.58        30.480000
24       7.70            9.93        14.060000
25       6.47           13.96        13.800000
26       7.53           14.41        13.410000
27       7.21           12.79        35.320000
28       6.61           18.26        11.810000
29       6.56           15.30        10.710000
30       6.20           11.56         9.110000
31       6.11           15.27         8.820000
32       6.34           12.92         4.610000
33       5.55           10.31        21.460000
34       4.64           15.77        21.080000
35       4.60            8.50        20.550000
36       2.87           12.71        20.110000
37       4.41            5.13        19.700000
38       2.02            6.59        18.530000
39       3.86            8.30        17.500000
40       2.88           11.85        17.280000
41       2.79            8.47        16.450000
42       2.36            9.62        14.800000
43       1.55           12.74         3.550000
44       2.22           15.48         2.830000
45       0.10           12.42         0.190000
46       0.13           11.58        29.710000
47       0.00           13.54         0.000000
48       0.05            5.17         0.000000
49       0.00           11.70        21.440816

In [33]:
df2 = df1.copy()

df2.iloc[1,0] = np.NaN

df2

    R&D Spend  Administration  Marketing Spend
0       16.53           13.69        47.180000
1         NaN           15.14        44.390000
2       15.34           10.11        40.790000
3       14.44           11.36        38.320000
4       14.21            9.14        36.290000
5       13.19            9.98        36.290000
6       13.46           14.72        12.770000
7       13.03           14.55        32.390000
8       12.05           14.87        31.160000
9       12.33           10.87        30.500000
10      10.19           11.06        22.920000
11      10.07            9.18        24.970000
12       9.39           12.73        24.980000
13       9.20           13.55        25.270000
14      11.99           15.65        25.650000
15      11.45           12.26        26.180000
16       7.80           12.16        26.430000
17       9.47           14.51        28.260000
18       9.17           11.42        29.490000
19       8.64           15.35         0.000000
20       7.63           11.39        29.870000
21       7.84           15.38        29.970000
22       7.40           12.28        30.330000
23       6.75           10.58        30.480000
24       7.70            9.93        14.060000
25       6.47           13.96        13.800000
26       7.53           14.41        13.410000
27       7.21           12.79        35.320000
28       6.61           18.26        11.810000
29       6.56           15.30        10.710000
30       6.20           11.56         9.110000
31       6.11           15.27         8.820000
32       6.34           12.92         4.610000
33       5.55           10.31        21.460000
34       4.64           15.77        21.080000
35       4.60            8.50        20.550000
36       2.87           12.71        20.110000
37       4.41            5.13        19.700000
38       2.02            6.59        18.530000
39       3.86            8.30        17.500000
40       2.88           11.85        17.280000
41       2.79            8.47        16.450000
42       2.36            9.62        14.800000
43       1.55           12.74         3.550000
44       2.22           15.48         2.830000
45       0.10           12.42         0.190000
46       0.13           11.58        29.710000
47       0.00           13.54         0.000000
48       0.05            5.17         0.000000
49       0.00           11.70        21.440816

In [34]:
# Subtract 0th iteration from 1st iteration

df1 - df0

    R&D Spend  Administration  Marketing Spend
0    0.000000        0.000000             0.00
1    8.489592        0.000000             0.00
2    0.000000        0.000000             0.00
3    0.000000       -0.779796             0.00
4    0.000000        0.000000            -0.33
5    0.000000        0.000000             0.00
6    0.000000        0.000000             0.00
7    0.000000        0.000000             0.00
8    0.000000        0.000000             0.00
9    0.000000        0.000000             0.00
10   0.000000        0.000000             0.00
11   0.000000        0.000000             0.00
12   0.000000        0.000000             0.00
13   0.000000        0.000000             0.00
14   0.000000        0.000000             0.00
15   0.000000        0.000000             0.00
16   0.000000        0.000000             0.00
17   0.000000        0.000000             0.00
18   0.000000        0.000000             0.00
19   0.000000        0.000000             0.00
20   0.000000        0.000000             0.00
21   0.000000        0.000000             0.00
22   0.000000        0.000000             0.00
23   0.000000        0.000000             0.00
24   0.000000        0.000000             0.00
25   0.000000        0.000000             0.00
26   0.000000        0.000000             0.00
27   0.000000        0.000000             0.00
28   0.000000        0.000000             0.00
29   0.000000        0.000000             0.00
30   0.000000        0.000000             0.00
31   0.000000        0.000000             0.00
32   0.000000        0.000000             0.00
33   0.000000        0.000000             0.00
34   0.000000        0.000000             0.00
35   0.000000        0.000000             0.00
36   0.000000        0.000000             0.00
37   0.000000        0.000000             0.00
38   0.000000        0.000000             0.00
39   0.000000        0.000000             0.00
40   0.000000        0.000000             0.00
41   0.000000        0.000000             0.00
42   0.000000        0.000000             0.00
43   0.000000        0.000000             0.00
44   0.000000        0.000000             0.00
45   0.000000        0.000000             0.00
46   0.000000        0.000000             0.00
47   0.000000        0.000000             0.00
48   0.000000        0.000000             0.00
49   0.000000        0.000000             0.00

In [35]:
df2 = df1.copy()

df2.iloc[1,0] = np.NaN

df2

    R&D Spend  Administration  Marketing Spend
0       16.53           13.69        47.180000
1         NaN           15.14        44.390000
2       15.34           10.11        40.790000
3       14.44           11.36        38.320000
4       14.21            9.14        36.290000
5       13.19            9.98        36.290000
6       13.46           14.72        12.770000
7       13.03           14.55        32.390000
8       12.05           14.87        31.160000
9       12.33           10.87        30.500000
10      10.19           11.06        22.920000
11      10.07            9.18        24.970000
12       9.39           12.73        24.980000
13       9.20           13.55        25.270000
14      11.99           15.65        25.650000
15      11.45           12.26        26.180000
16       7.80           12.16        26.430000
17       9.47           14.51        28.260000
18       9.17           11.42        29.490000
19       8.64           15.35         0.000000
20       7.63           11.39        29.870000
21       7.84           15.38        29.970000
22       7.40           12.28        30.330000
23       6.75           10.58        30.480000
24       7.70            9.93        14.060000
25       6.47           13.96        13.800000
26       7.53           14.41        13.410000
27       7.21           12.79        35.320000
28       6.61           18.26        11.810000
29       6.56           15.30        10.710000
30       6.20           11.56         9.110000
31       6.11           15.27         8.820000
32       6.34           12.92         4.610000
33       5.55           10.31        21.460000
34       4.64           15.77        21.080000
35       4.60            8.50        20.550000
36       2.87           12.71        20.110000
37       4.41            5.13        19.700000
38       2.02            6.59        18.530000
39       3.86            8.30        17.500000
40       2.88           11.85        17.280000
41       2.79            8.47        16.450000
42       2.36            9.62        14.800000
43       1.55           12.74         3.550000
44       2.22           15.48         2.830000
45       0.10           12.42         0.190000
46       0.13           11.58        29.710000
47       0.00           13.54         0.000000
48       0.05            5.17         0.000000
49       0.00           11.70        21.440816

In [36]:
X = df2.iloc[[0,2,3,4],1:3]
y = df2.iloc[[0,2,3,4],0]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[1,1:].values.reshape(1,2))

C:\Users\vamsh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15.5185251])

In [39]:
df2.iloc[1,0] = 15.51

In [40]:
df2.iloc[3,1] = np.NaN
X = df2.iloc[[0,1,2,4],[0,2]]
y = df2.iloc[[0,1,2,4],1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[3,[0,2]].values.reshape(1,2))

C:\Users\vamsh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11.24353922])

In [41]:
df2.iloc[3,1] = 11.24

In [42]:
df2.iloc[4,-1] = np.NaN

X = df2.iloc[0:4,0:2]
y = df2.iloc[0:4,-1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[4,0:2].values.reshape(1,2))

C:\Users\vamsh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([36.23258891])

In [43]:
df2.iloc[4,-1] = 36.23

In [44]:
df2

    R&D Spend  Administration  Marketing Spend
0       16.53           13.69        47.180000
1       15.51           15.14        44.390000
2       15.34           10.11        40.790000
3       14.44           11.24        38.320000
4       14.21            9.14        36.230000
5       13.19            9.98        36.290000
6       13.46           14.72        12.770000
7       13.03           14.55        32.390000
8       12.05           14.87        31.160000
9       12.33           10.87        30.500000
10      10.19           11.06        22.920000
11      10.07            9.18        24.970000
12       9.39           12.73        24.980000
13       9.20           13.55        25.270000
14      11.99           15.65        25.650000
15      11.45           12.26        26.180000
16       7.80           12.16        26.430000
17       9.47           14.51        28.260000
18       9.17           11.42        29.490000
19       8.64           15.35         0.000000
20       7.63           11.39        29.870000
21       7.84           15.38        29.970000
22       7.40           12.28        30.330000
23       6.75           10.58        30.480000
24       7.70            9.93        14.060000
25       6.47           13.96        13.800000
26       7.53           14.41        13.410000
27       7.21           12.79        35.320000
28       6.61           18.26        11.810000
29       6.56           15.30        10.710000
30       6.20           11.56         9.110000
31       6.11           15.27         8.820000
32       6.34           12.92         4.610000
33       5.55           10.31        21.460000
34       4.64           15.77        21.080000
35       4.60            8.50        20.550000
36       2.87           12.71        20.110000
37       4.41            5.13        19.700000
38       2.02            6.59        18.530000
39       3.86            8.30        17.500000
40       2.88           11.85        17.280000
41       2.79            8.47        16.450000
42       2.36            9.62        14.800000
43       1.55           12.74         3.550000
44       2.22           15.48         2.830000
45       0.10           12.42         0.190000
46       0.13           11.58        29.710000
47       0.00           13.54         0.000000
48       0.05            5.17         0.000000
49       0.00           11.70        21.440816

In [45]:
df2 - df1

    R&D Spend  Administration  Marketing Spend
0        0.00            0.00             0.00
1       -0.17            0.00             0.00
2        0.00            0.00             0.00
3        0.00           -0.12             0.00
4        0.00            0.00            -0.06
5        0.00            0.00             0.00
6        0.00            0.00             0.00
7        0.00            0.00             0.00
8        0.00            0.00             0.00
9        0.00            0.00             0.00
10       0.00            0.00             0.00
11       0.00            0.00             0.00
12       0.00            0.00             0.00
13       0.00            0.00             0.00
14       0.00            0.00             0.00
15       0.00            0.00             0.00
16       0.00            0.00             0.00
17       0.00            0.00             0.00
18       0.00            0.00             0.00
19       0.00            0.00             0.00
20       0.00            0.00             0.00
21       0.00            0.00             0.00
22       0.00            0.00             0.00
23       0.00            0.00             0.00
24       0.00            0.00             0.00
25       0.00            0.00             0.00
26       0.00            0.00             0.00
27       0.00            0.00             0.00
28       0.00            0.00             0.00
29       0.00            0.00             0.00
30       0.00            0.00             0.00
31       0.00            0.00             0.00
32       0.00            0.00             0.00
33       0.00            0.00             0.00
34       0.00            0.00             0.00
35       0.00            0.00             0.00
36       0.00            0.00             0.00
37       0.00            0.00             0.00
38       0.00            0.00             0.00
39       0.00            0.00             0.00
40       0.00            0.00             0.00
41       0.00            0.00             0.00
42       0.00            0.00             0.00
43       0.00            0.00             0.00
44       0.00            0.00             0.00
45       0.00            0.00             0.00
46       0.00            0.00             0.00
47       0.00            0.00             0.00
48       0.00            0.00             0.00
49       0.00            0.00             0.00

In [46]:
df3 = df2.copy()

df3.iloc[1,0] = np.NaN

df3

    R&D Spend  Administration  Marketing Spend
0       16.53           13.69        47.180000
1         NaN           15.14        44.390000
2       15.34           10.11        40.790000
3       14.44           11.24        38.320000
4       14.21            9.14        36.230000
5       13.19            9.98        36.290000
6       13.46           14.72        12.770000
7       13.03           14.55        32.390000
8       12.05           14.87        31.160000
9       12.33           10.87        30.500000
10      10.19           11.06        22.920000
11      10.07            9.18        24.970000
12       9.39           12.73        24.980000
13       9.20           13.55        25.270000
14      11.99           15.65        25.650000
15      11.45           12.26        26.180000
16       7.80           12.16        26.430000
17       9.47           14.51        28.260000
18       9.17           11.42        29.490000
19       8.64           15.35         0.000000
20       7.63           11.39        29.870000
21       7.84           15.38        29.970000
22       7.40           12.28        30.330000
23       6.75           10.58        30.480000
24       7.70            9.93        14.060000
25       6.47           13.96        13.800000
26       7.53           14.41        13.410000
27       7.21           12.79        35.320000
28       6.61           18.26        11.810000
29       6.56           15.30        10.710000
30       6.20           11.56         9.110000
31       6.11           15.27         8.820000
32       6.34           12.92         4.610000
33       5.55           10.31        21.460000
34       4.64           15.77        21.080000
35       4.60            8.50        20.550000
36       2.87           12.71        20.110000
37       4.41            5.13        19.700000
38       2.02            6.59        18.530000
39       3.86            8.30        17.500000
40       2.88           11.85        17.280000
41       2.79            8.47        16.450000
42       2.36            9.62        14.800000
43       1.55           12.74         3.550000
44       2.22           15.48         2.830000
45       0.10           12.42         0.190000
46       0.13           11.58        29.710000
47       0.00           13.54         0.000000
48       0.05            5.17         0.000000
49       0.00           11.70        21.440816

In [47]:
X = df3.iloc[[0,2,3,4],1:3]
y = df3.iloc[[0,2,3,4],0]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[1,1:].values.reshape(1,2))

C:\Users\vamsh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15.48412155])

In [48]:
df3.iloc[1,0] = 15.48

In [49]:
df3.iloc[3,1] = np.NaN
X = df3.iloc[[0,1,2,4],[0,2]]
y = df3.iloc[[0,1,2,4],1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[3,[0,2]].values.reshape(1,2))

C:\Users\vamsh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11.21923101])

In [50]:
df3.iloc[3,1] = 11.219

In [51]:
df3.iloc[4,-1] = np.NaN

X = df3.iloc[0:4,0:2]
y = df3.iloc[0:4,-1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[4,0:2].values.reshape(1,2))

C:\Users\vamsh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([36.22698461])

In [52]:
df3.iloc[4,-1] = 36.22

In [53]:
df2.iloc[3,1] = 11.219

In [54]:
df3

    R&D Spend  Administration  Marketing Spend
0       16.53          13.690        47.180000
1       15.48          15.140        44.390000
2       15.34          10.110        40.790000
3       14.44          11.219        38.320000
4       14.21           9.140        36.220000
5       13.19           9.980        36.290000
6       13.46          14.720        12.770000
7       13.03          14.550        32.390000
8       12.05          14.870        31.160000
9       12.33          10.870        30.500000
10      10.19          11.060        22.920000
11      10.07           9.180        24.970000
12       9.39          12.730        24.980000
13       9.20          13.550        25.270000
14      11.99          15.650        25.650000
15      11.45          12.260        26.180000
16       7.80          12.160        26.430000
17       9.47          14.510        28.260000
18       9.17          11.420        29.490000
19       8.64          15.350         0.000000
20       7.63          11.390        29.870000
21       7.84          15.380        29.970000
22       7.40          12.280        30.330000
23       6.75          10.580        30.480000
24       7.70           9.930        14.060000
25       6.47          13.960        13.800000
26       7.53          14.410        13.410000
27       7.21          12.790        35.320000
28       6.61          18.260        11.810000
29       6.56          15.300        10.710000
30       6.20          11.560         9.110000
31       6.11          15.270         8.820000
32       6.34          12.920         4.610000
33       5.55          10.310        21.460000
34       4.64          15.770        21.080000
35       4.60           8.500        20.550000
36       2.87          12.710        20.110000
37       4.41           5.130        19.700000
38       2.02           6.590        18.530000
39       3.86           8.300        17.500000
40       2.88          11.850        17.280000
41       2.79           8.470        16.450000
42       2.36           9.620        14.800000
43       1.55          12.740         3.550000
44       2.22          15.480         2.830000
45       0.10          12.420         0.190000
46       0.13          11.580        29.710000
47       0.00          13.540         0.000000
48       0.05           5.170         0.000000
49       0.00          11.700        21.440816

In [55]:
df3 - df2

    R&D Spend  Administration  Marketing Spend
0        0.00             0.0             0.00
1       -0.03             0.0             0.00
2        0.00             0.0             0.00
3        0.00             0.0             0.00
4        0.00             0.0            -0.01
5        0.00             0.0             0.00
6        0.00             0.0             0.00
7        0.00             0.0             0.00
8        0.00             0.0             0.00
9        0.00             0.0             0.00
10       0.00             0.0             0.00
11       0.00             0.0             0.00
12       0.00             0.0             0.00
13       0.00             0.0             0.00
14       0.00             0.0             0.00
15       0.00             0.0             0.00
16       0.00             0.0             0.00
17       0.00             0.0             0.00
18       0.00             0.0             0.00
19       0.00             0.0             0.00
20       0.00             0.0             0.00
21       0.00             0.0             0.00
22       0.00             0.0             0.00
23       0.00             0.0             0.00
24       0.00             0.0             0.00
25       0.00             0.0             0.00
26       0.00             0.0             0.00
27       0.00             0.0             0.00
28       0.00             0.0             0.00
29       0.00             0.0             0.00
30       0.00             0.0             0.00
31       0.00             0.0             0.00
32       0.00             0.0             0.00
33       0.00             0.0             0.00
34       0.00             0.0             0.00
35       0.00             0.0             0.00
36       0.00             0.0             0.00
37       0.00             0.0             0.00
38       0.00             0.0             0.00
39       0.00             0.0             0.00
40       0.00             0.0             0.00
41       0.00             0.0             0.00
42       0.00             0.0             0.00
43       0.00             0.0             0.00
44       0.00             0.0             0.00
45       0.00             0.0             0.00
46       0.00             0.0             0.00
47       0.00             0.0             0.00
48       0.00             0.0             0.00
49       0.00             0.0             0.00